<%= form_tag "javascript:void(0);", { remote: true , onsubmit: "javascript: return false;" } do %>
  <div class="form-group">
    <%= label_tag :first_name %>
    <%= text_field_tag "first_name", nil, :class => "form-control", :required => true %>
  </div>
  
  <div class="form-group">
    <%= label_tag :last_name %>
    <%= text_field_tag "last_name", nil, :class => "form-control", :required => true %>
  </div>
  
  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag "email", nil, :class => "form-control", :required => true %>
  </div>
  
  <div class="form-group">
    <%= label_tag :message %>
    <%= text_area_tag "message", nil, :class => "form-control", :rows => 5, :required => true %>
  </div>
  
  <div id="captcha"></div>
  
  <p class="text-center">
    <%= button_tag "Submit", :class => "btn btn-primary submit", :style => '' %>
  </p>
  
  <% end %>
</div>
