<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Knitkit - Compass AE Open source content management platform"/>

  <title><%= @website.title %></title>

  <%= javascript_include_tag :application %>

  <%= javascript_include_tag 'erp_app/utility' %>
  <%= javascript_include_tag 'erp_app/jquery_support' %>
  <%= javascript_include_tag 'erp_app/widgets' %>

  <!-- CompassAE CSS -->
  <%= javascript_include_tag 'knitkit-web' %>
  <%= stylesheet_link_tag 'knitkit-web' %>
  <%= stylesheet_link_tag 'knitkit/flat-ui-pro' %>
  <%= stylesheet_link_tag 'knitkit/font-awesome' %>
  <!-- end -->

  <!-- Customizable CSS -->
  <%= stylesheet_link_tag 'knitkit/content' %>
  <%= stylesheet_link_tag 'knitkit/video' %>
  <%= stylesheet_link_tag 'knitkit/submenu' %>
  <%= stylesheet_link_tag 'knitkit/style' %>
  <!-- end -->
  
  <!-- code mirror -->
  <%= include_code_mirror_library %>
  <!-- end -->

  <!-- Authentication Hellpers -->
  <%= setup_js_authentication %>
  <!-- end -->

  <% if @website_builder %>
  <!-- Website Builder styles -->
  <%= stylesheet_link_tag 'knitkit/website_builder/medium-editor.min' %>
  <%= stylesheet_link_tag 'knitkit/website_builder/medium-bootstrap' %>
  <%= stylesheet_link_tag 'knitkit/website_builder/medium_editor_theme/default.min' %>
  <!-- end -->
  <% end %>

  <%= yield :head %>
</head>
<body>
 
  <% if @website_builder %>
    <%= yield %>
  <% else %>
    <div id="wrap">
      <div class="header">
        <%= render :partial => 'shared/knitkit/header' %>
      </div>
      
      <div class="content-area">
        <%= content_for?(:sub_menu) ? yield(:sub_menu) : render_sub_menu(@contents) %>
        <%= yield %>
      </div>

    </div>

    <div class="footer">
      <%= content_for?(:footer) ? yield(:footer) : (render :partial => 'shared/knitkit/footer') %>
      <%= yield :foot %>
    </div>
  <% end %> 

  <%= set_authenticity_token %>
  <%= set_session_timeout %>

  <!-- Customizable Javascript -->
  <%= javascript_include_tag 'knitkit/theme' %>
  <!-- end -->

</body>
</html>
